*{
    margin:0;
    padding:0;
}
.base{
    width:300px;
    height:400px;
    background-color: rgb(74, 73, 73);
    border-radius:8px;
    position: fixed;
    top:50px;
    left:30vw;
    box-shadow: 2px 2px 8px black;
}
h1{
    text-align: center;
    color: rgb(214, 111, 1);
}
.output-tab{
    width:87%;
    height:65px;
    background-color: rgb(111, 111, 111);
    margin:7px;
    border-radius: 8px;
    padding: 10px;
    border:2px solid black;
    font-size: 25px;
    color:white;
    display:flex;
    align-items:flex-end;
    justify-content: space-between;

}

.input-tab{
    margin:7px;
    margin-left: 24px;
    justify-content: space-around;
}
button{
    width:60px;
    height:50px;
    background-color: rgb(111, 111, 111);
    border-radius: 8px;
    color:white;
    font-size: large;

}
button:active{
    background-color: rgb(214, 111, 1);
}
.equals{
    width:123px;
    background-color: rgb(214, 111, 1);

}